#footer
  background-color: var(--surface-100)
  color: var(--surface-900)
  width: 100%
  text-align: center
  align-items: center
  z-index: 100
  box-shadow: 0px -3px 10px var(--surface-300)
  position: absolute

  a
    color: var(--primary-color)
    margin: 0px 12px

  p
    margin: 0px
    padding: 0px

  #project
    padding-top: 20px
    width: 100%

  #imprint
    padding: 20px 0px
    width: 100%
