<nav id="navbar">
  <div id="navcontent">
    <ul id="navlist">
      <li class="nav-link" id="rs-td-link">
        <a href="https://rs-td.de" pRipple><i class="pi pi-caret-left"></i>  Zurück</a>
      </li>

      <li class="nav-link">
        <a routerLink="" routerLinkActive="nav-link-active" [routerLinkActiveOptions]="{exact: true}" pRipple><i class="pi pi-home"></i> {{ 'nav_startpage' | translate}}</a>
      </li>

      <li class="nav-link float-right" id="langbtn">
        <a (click)="langoverlay.toggle($event)"><i class="pi pi-globe"></i></a>
      </li>


    </ul>

    <p-overlayPanel #langoverlay>
      <ng-template pTemplate>
        <p-listbox [options]="this.langservice.langs" [(ngModel)]="this.langservice.selectedLang" optionLabel="name" (onChange)="this.langservice.updateLang(this.langservice.selectedLang)"></p-listbox>
      </ng-template>
  </p-overlayPanel>
  </div>
</nav>
