<div class="grid grid-nogutter surface-section text-800 h-screen" id="section1">
  <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center" >
      <section class="text-center">
          <div class="text-7xl font-bold mb-7 text-green-600">Berufsorientierung</div>
          <button pRipple id="call-to-action-btn">Unsere Partnerunternehmen</button>
          <p class="mt-7 mb-4 text-2xl line-height-3 text-center">Auf den Weg in die berufliche Zukunft ihres Kindes / ihrer Kinder unterstützt Sie die Regelschule "Am Rennsteig" Tambach - Dietharz mit aller Kraft.</p>
      </section>
  </div>
  <div class="col-12 md:col-6 overflow-hidden">
      <img src="https://unsplash.com/photos/vI267iBm2NQ/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8MXx8bmF0dXJlfHwwfDJ8fHwxNjQxODQwMjYy&force=true&w=1080" alt="Image" class="md:ml-auto block h-screen" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%); z-index: -1;">
  </div>
</div>
