#call-to-action-btn
  background-image: linear-gradient(to bottom right, var(--green-500), var(--green-600))
  border: none
  padding: 16px
  font-size: 1.2rem
  border-radius: 4px
  color: var(--surface-0)
  cursor: pointer
  transition: 0.3s
  opacity: 0.8

  &:hover
    opacity: 1
