/* You can add global styles to this file, and also import other style files */
@use "node_modules/primeicons/primeicons.css"
@use "node_modules/primeng/resources/themes/tailwind-light/theme.css"
@use "node_modules/primeng/resources/primeng.min.css"
@import "primeflex/primeflex.css"

body, html
  font-family: "Open Sans", sans-serif
  padding: 0px
  margin: 0px
  height: 100%
  scroll-behavior: smooth

a
  text-decoration: none
